<section id="home">
    <h1>Bienvenido a U.N.O. Tareas</h1>
    <p>En esta simple aplicación web, como docente, podrás cargar tus cursos y asignarles tareas, mientras que, como alumno, podrás entregar las tareas que te hayan sido asignadas.</p>
    <p>Esta aplicación fue desarrollada para el espacio de actualización docente en Técnicas Avanzadas de Programación Web, dictado en la Universidad Nacional del Oeste</p>

    <p>Haciendo clic en cada sección de la barra de navegación superior (en color aguamarina) podrás acceder a las dos secciones que por el momento componen esta aplicación: cursos y tareas.</p>

    <p><strong>Por último: haciendo clic en los paneles aquí debajo, puedes recibir ayuda sobre la utilización de la aplicación.</strong></p>
    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel title="Cursos">
        <ng-template ngbPanelContent>
          Instrucciones de uso de la sección de Cursos
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Tareas">
        <ng-template ngbPanelContent>
          Instrucciones de uso de la sección de Tareas
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
</section>